{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "printWidth": 90,
  "endOfLine": "lf",
  "trailingComma": "none",
  "quoteProps": "preserve",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": false
}
