button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  font-family: Roboto, sans-serif;
}

#app {
  width: 100vw;
  background: #f1f1f1;
}

body {
  margin: 0;
}

body button:focus,
body input:focus,
body select:focus,
body textarea:focus,
body :focus-visible {
  outline: none;
}
